<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th>Employee List</th>
        <th>Editing</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList;let i=index;">
        <td>{{employee.firstname}}</td>
        <td><button type="submit" class="btn btn-success" [routerLink]="['/employee-edit',employeeList.in]">edit</button></td>
        <td><button type="submit" class="btn btn-danger" (click)="delete(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

